h2{
    color: grey !important;
    padding: 10px 0 0 0 !important;
    font-weight: normal !important;
}

/*Employee list grid styles*/
.table td, .table th
{
    padding: 0.5rem !important;
}

#tblEmployeeList tbody td:nth-child(1) {
    width: 10%;
}

#tblEmployeeList tbody td:nth-child(2) {
    width: 30%;
}

#tblEmployeeList tbody td:nth-child(3) {
    width: 22%;
}

#tblEmployeeList tbody td:nth-child(4) {
    width: 22%;
}

#tblEmployeeList thead th:nth-child(5) {
    text-align: center;
}

#tblEmployeeList tbody td:nth-child(5) {
    text-align: center;
}
