<h2>Employee List</h2>
<hr>
<div class="table-responsive">
    <table id="tblEmployeeList" class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Weekly Effort (Total)</th>
                <th>Weekly Effort (Average)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of employeeSummaryList">
                <td>{{e.code}}</td>
                <td>{{e.name}}</td>
                <td>{{e.totalWeeklyEffort}}</td>
                <td>{{e.averageWeeklyEffort}}</td>
                <td><button type="button" class="btn btn-primary btn-sm" (click)="navigateTimesheetView(e.id)"><i class="fa fa-paper-plane"></i> Submit Timesheet</button></td>
            </tr>
        </tbody>
    </table>
</div>