h2{
    color: grey !important;
    padding: 10px 0 0 0 !important;
    font-weight: normal !important;
}

#ddlAllEmployees{
    margin-left: 5px;
    padding: 2px;
    font-weight: bold;
}

#ddlAllTask{
    margin-left: 5px;
    padding: 2px;
    font-weight: bold;
}

#txtDatePicker
{
    text-align: center;
    font-weight: bold;
}

.table td, .table th
{
    padding: 0.5rem !important;
}

#tblTimeSheet thead th:nth-child(1) {
    width: 23%;
}

#tblTimeSheet tbody td:nth-child(1) {
    vertical-align: middle;
    font-weight: bold;
}

#tblTimeSheet thead th:nth-child(2) {
    width: 11%;
}

#tblTimeSheet thead th:nth-child(3) {
    width: 11%;
}

#tblTimeSheet thead th:nth-child(4) {
    width: 11%;
}

#tblTimeSheet thead th:nth-child(5) {
    width: 11%;
}

#tblTimeSheet thead th:nth-child(6) {
    width: 11%;
}

#tblTimeSheet thead th:nth-child(7) {
    width: 11%;
}

#tblTimeSheet thead th:nth-child(8) {
    width: 11%;
}

.margin-top-5
{
    margin-top: 5px;
}

#tblTimeSheet thead th {
    font-size: 14px;
}

.margin-right-10
{
    margin-right: 10px;
}

.txt-effort{
    font-weight: bold;
}

.bootstrap-datetimepicker-widget tr:hover {
    background-color: #808080;
}
