<h2>Submit Timesheet</h2>
<hr>
<div class="row">
  <div class="col-md-6">
    <form class="form-inline">
      <div class="form-group">
        <label for="ddlAllEmployees">Select Employee : </label>
        <select id="ddlAllEmployees" name="ddlAllEmployees" [(ngModel)]="selectedEmployeeId" (change)="onEmployeeDropdownChange()">
          <option *ngFor="let e of allEmployeeList" [value]="e.id">{{e.name}}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="col-md-2 offset-md-4">
    <button type="button" class="btn btn-primary btn-sm pull-right" (click)="open()"><i class="fa fa-plus"></i> Add
      Task</button>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-4 text-center">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div id="weekpicker"><input id="txtDatePicker" type="text" class="form-control" /></div>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive margin-top-5">
  <table id="tblTimeSheet" class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>Task</th>
        <th>Sunday <span id="sun_date_ph"></span></th>
        <th>Monday <span id="mon_date_ph"></span></th>
        <th>Tuesday <span id="tue_date_ph"></span></th>
        <th>Wednesday <span id="wed_date_ph"></span></th>
        <th>Thursday <span id="thu_date_ph"></span></th>
        <th>Friday <span id="fri_date_ph"></span></th>
        <th>Saturday <span id="sat_date_ph"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of timesheetItemList">
        <td>{{item.TaskName}}</td>
        <td><input NumberOnly type="number" min="0" class="form-control txt-effort" [(ngModel)]="item.SundayEffort" /></td>
        <td><input NumberOnly type="number" min="0" class="form-control txt-effort" [(ngModel)]="item.MondayEffort"/></td>
        <td><input NumberOnly type="number" min="0" class="form-control txt-effort" [(ngModel)]="item.TuesdayEffort"/></td>
        <td><input NumberOnly type="number" min="0" class="form-control txt-effort" [(ngModel)]="item.WednesdayEffort"/></td>
        <td><input NumberOnly type="number" min="0" class="form-control txt-effort" [(ngModel)]="item.ThursdayEffort"/></td>
        <td><input NumberOnly type="number" min="0" class="form-control txt-effort" [(ngModel)]="item.FridayEffort"/></td>
        <td><input NumberOnly type="number" min="0" class="form-control txt-effort" [(ngModel)]="item.SaturdayEffort"/></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-md-12 text-right">
      <button type="button" class="btn btn-primary margin-right-10" (click)="goBackToList()">Back To List</button>
      <button type="button" class="btn btn-success" (click)="saveTimesheet()">Save</button>
  </div>
</div>