body{
    padding-top: 50px;
    padding-bottom: 15px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40 !important;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 3px 0;
}
